{% extends 'base_cabinet.html' %}

{% block title %}Статистика{% endblock %}

{% block main %}
    {% include 'stats/index/_partials/header.html' %}

    <!-- Primary -->
    <div class="section rounded mb-3">

        {% include 'stats/index/_partials/filters.html' %}

        {% if not request.GET.stat_type %}
            <p class="lead">Для початку роботи заповніть форму та натисніть кнопку "Сформувати"</p>
        {% endif %}

        {% if request.GET.stat_type %}
            {% if request.GET.stat_type == '6_1_1' %}
                {% include 'stats/index/_partials/results/6_1_1.html' %}
            {% endif %}

            {% if request.GET.stat_type == '6_1_2' %}
                {% include 'stats/index/_partials/results/6_1_2.html' %}
            {% endif %}

            {% if request.GET.stat_type == '6_2_1' %}
                {% include 'stats/index/_partials/results/6_2_1.html' %}
            {% endif %}

            {% if request.GET.stat_type == '6_4_1' %}
                {% include 'stats/index/_partials/results/6_4_1.html' %}
            {% endif %}

        {% endif %}

    </div>
    <!-- /Primary -->

{% endblock %}
