.g-font-size-15 {
    font-size: 15px;
}

body.layout-admin #middle .section, body.layout-admin #middle section {
    color: inherit;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(232, 232, 232, 0.8);
}

.overlay-content {
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #555;
}

#middle {
    min-height: calc(100vh - 80px - 56px);
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: #574fec !important;
}

#case-create-collegium-form > #div_id_members > div:nth-child(2) > div:nth-child(1) {
    column-count: 3;
}

.fc-today.alert {
    position: inherit;
}

.fc-today.alert-info {
  color: #458b94;
  background-color: #e3fafd !important;
  border-color: #d5f8fd !important;
}

.small {
  font-size: 0.875em;
}

#table-documents tr td:nth-child(2),
#table-documents tr td:nth-child(3),
#table-documents tr td:nth-child(4),
#table-documents tr td:nth-child(5),
#table-documents tr td:nth-child(6),
#table-documents tr td:nth-child(7)
{
    white-space: nowrap;
}

#table-users tr td:nth-child(1) {
    font-weight: 600;
    white-space: nowrap;
}

#table-cases tr > td:nth-child(1) > a,
#table-cases tr td:nth-child(2) {
    white-space: nowrap;
}
