<div id="loading">Завантаження...</div>
<!--

	data-autofill="false|hover|click"
	data-enable-paging="true"			 false = show all, no pagination
	data-items-per-page="10|15|30|50|100"

-->
<table class="table-datatable table table-bordered table-hover table-striped g-font-size-15"
       id="table-appeals"
       style="display: none"
       data-lng-empty="No data available in table"
       data-lng-page-info="Записи від _START_ до _END_ з _TOTAL_ всього"
       data-lng-filtered="(filtered from _MAX_ total entries)"
       data-lng-loading="Loading..."
       data-lng-processing="Processing..."
       data-lng-search="Пошук..."
       data-lng-norecords="Результати відсутні"
       data-lng-sort-ascending=": activate to sort column ascending"
       data-lng-sort-descending=": activate to sort column descending"

       data-main-search="true"
       data-column-search="false"
       data-row-reorder="false"
       data-col-reorder="true"
       data-responsive="true"
       data-header-fixed="true"
       data-select-onclick="false"
       data-enable-paging="true"
       data-enable-col-sorting="true"
       data-autofill="false"
       data-group="false"
       data-items-per-page="15"

       data-enable-column-visibility="true"
       data-lng-column-visibility="Видимість стовбчиків"

       data-enable-export="true"
       data-lng-export="<i class='fi fi-squared-dots fs-5 lh-1'></i>"
       data-lng-csv="CSV"
       data-lng-pdf="PDF"
       data-lng-xls="XLS"
       data-lng-copy="Копіювати"
       data-lng-print="Друк"
       data-lng-all="Усі"
       data-export-pdf-disable-mobile="true"
       data-export='["csv", "pdf", "xls"]'
       data-options='["copy", "print"]'

       data-custom-config='{"stateSave": true, "stateDuration": -1}'>
    <thead>
    <tr>
        <th>№</th>
        <th>№ заявки</th>
        <th>Вид об'єкта</th>
        <th>Вид заяви</th>
        <th>Назва об'єкта</th>
        <th>Апелянт</th>
        <th>Дата подання</th>
        <th>Дата, до якої необхідно розглянути</th>
        <th>Дата засідання</th>
    </tr>
    </thead>
    <tbody>

    {% for case in cases %}
        <tr>
            <td><a href="{% url 'cases-detail' pk=case.pk %}">{{ case.case_number }}</a></td>
            <td>{{ case.app_number }}</td>
            <td>{{ case.obj_kind.title }}</td>
            <td>{{ case.claim_kind.title }}</td>
            <td>{{ case.obj_title|default_if_none:"" }}</td>
            <td>{{ case.applicant_name|default_if_none:"" }}</td>
            <td data-order="{{ case.claim_date|date:"U" }}">{{ case.claim_date|date:"SHORT_DATE_FORMAT" }}</td>
            <td data-order="{{ case.deadline|date:"U" }}">{{ case.deadline|date:"SHORT_DATE_FORMAT" }}</td>
            <td data-order="{{ case.hearing|date:"U" }}">{{ case.hearing|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
    {% endfor %}
    </tbody>

    <tfoot>
    <tr>
        <th>№ справи</th>
        <th>№ заявки</th>
        <th>Вид об'єкта</th>
        <th>Вид заяви</th>
        <th>Назва об'єкта</th>
        <th>Апелянт</th>
        <th>Дата подання</th>
        <th>Дата, до якої необхідно розглянути</th>
        <th>Дата засідання</th>
    </tr>
    </tfoot>
</table>