<header>
    <div class="row g-1 align-items-center">
        <div class="col">
            <h1 class="h4">Список архівних справ</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb small">
                    <li class="breadcrumb-item"><a href="{% url 'cases-list' %}">Апеляційні справи</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'archive-cases-list' %}">Архів справ</a></li>
                    <li class="breadcrumb-item text-muted active" aria-current="page">Список справ</li>
                </ol>
            </nav>
        </div>
    </div>
</header>
