<div class="row mt-4">
    <div class="col">
        {% if case.claim.claim_kind.claim_sense %}
            {% if case.claim.claim_kind.claim_sense == 'DE' %}
                <div class="text-muted text-uppercase">Підстава, з якої оскаржується рішення за запереченням</div>
            {% elif case.claim.claim_kind.claim_sense == 'AP' %}
                <div class="text-muted text-uppercase">Підстава, з якої визнається недійсним охоронний документ за апеляційною заявою</div>
            {% endif %}
            <div class="fw-medium mb-3">
                {% if case.refusal_reasons.count > 0 %}
                    <ul>
                        {% for reason in case.refusal_reasons.all %}
                            <li>{{ reason.title }}{% if not forloop.last %};{% else %}.{% endif %}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <i class="text-black-50">Не заповнено</i>
                {% endif %}
            </div>
        {% endif %}

        <div class="text-muted text-uppercase">ПІБ призначених членів колегії</div>
        <div class="fw-medium mb-3">
            {% if case.collegium.count > 0 %}
                <ul>
                    {% for member in case.collegiummembership_set.all %}
                        <li>{{ member.person.get_full_name }}{% if member.is_head %}&nbsp;<strong>(голова колегії)</strong>{% endif %}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <i class="text-black-50">Колегію не сформовано</i>
            {% endif %}
        </div>

        <div class="text-muted text-uppercase">ПІБ секретаря</div>
        <div class="fw-medium mb-3">
            {% if case.secretary %}
                {{ case.secretary.get_full_name }}
            {% else %}
                <i>Справу не прийнято в роботу</i>
            {% endif %}
        </div>

        <div class="text-muted text-uppercase">ПІБ експерта</div>
        <div class="fw-medium mb-3">
            {% if case.expert %}
                {{ case.expert.get_full_name }}
            {% else %}
                <i class="text-black-50">Не призначено</i>
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="text-muted text-uppercase">Дата, до якої необхідно розглянути звернення</div>
        <div class="fw-medium mb-3">
            {% if case.deadline %}
                {{ case.deadline|date:"SHORT_DATE_FORMAT" }}
            {% else %}
                <i class="text-black-50">Не визначено</i>
            {% endif %}
        </div>

        <div class="text-muted text-uppercase">Дата призначеного засідання (засідань)</div>
        <div class="fw-medium mb-3">
            {% if case.meeting_set.count == 0 %}
                <i class="text-black-50">Не визначено</i>
            {% else %}
                <ul>
                    {% for meeting in case.meeting_set.all %}
                        <li>
                            {{ meeting.datetime }}
                            {% if meeting.meeting_type == 'PRE' %}
                                (підготовче засідання)
                            {% else %}
                                <i>(осіб погодилися: <a href="#"
                                                        title="Натисніть, щоб подивитися хто прийняв запрошення"
                                                        data-href="{% url 'meetings-detail' pk=meeting.pk %}"
                                                        data-ajax-modal-size="modal-md"
                                                        data-ajax-modal-centered="true"
                                                        data-ajax-modal-callback-function=""
                                                        class="js-ajax-modal">
                                                        <b>{{ meeting.accept_count }} / 3</b>
                                </a>)</i>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="text-muted text-uppercase">Дата прийняття колегією рішення</div>
        <div class="fw-medium mb-3">
            {% if case.decision_date %}
                {{ case.decision_date }}
            {% else %}
                <i class="text-black-50">Не визначено</i>
            {% endif %}
        </div>

        <div class="text-muted text-uppercase">Дата затвердження рішення наказом</div>
        <div class="fw-medium mb-3">
            {% if case.order_datetime %}
                {{ case.order_datetime|date }}
            {% else %}
                <i class="text-black-50">Не визначено</i>
            {% endif %}
        </div>

        <div class="text-muted text-uppercase">Дата публікації рішення на сайті</div>
        <div class="fw-medium mb-3">
            {% if case.published %}
                {{ case.published }}
            {% else %}
                <i class="text-black-50">Не визначено</i>
            {% endif %}
        </div>
    </div>
</div>