<h5 class="mb-4 mt-5">Результати пошуку</h5>

<!--

	data-autofill="false|hover|click"
	data-enable-paging="true"			 false = show all, no pagination
	data-items-per-page="10|15|30|50|100"

-->
<table class="table-datatable table table-bordered table-hover table-striped"
	data-lng-empty="Результати пошуку відсутні"
	data-lng-page-info="Показано _START_ з _END_ of _TOTAL_ записів"
	data-lng-filtered="(filtered from _MAX_ total entries)"
	data-lng-loading="Loading..."
	data-lng-processing="Processing..."
	data-lng-search="Пошук..."
	data-lng-norecords="No matching records found"
	data-lng-sort-ascending=": activate to sort column ascending"
	data-lng-sort-descending=": activate to sort column descending"

	data-main-search="false"
	data-column-search="false"
	data-row-reorder="false"
	data-col-reorder="true"
	data-responsive="true"
	data-header-fixed="true"
	data-select-onclick="true"
	data-enable-paging="true"
	data-enable-col-sorting="true"
	data-autofill="false"
	data-group="false"
	data-items-per-page="15"

	data-enable-column-visibility="true"
	data-lng-column-visibility="Видимість стовбчиків"

	data-enable-export="true"
	data-lng-export="<i class='fi fi-squared-dots fs-5 lh-1'></i>"
	data-lng-csv="CSV"
	data-lng-pdf="PDF"
	data-lng-xls="XLS"
	data-lng-copy="Copy"
	data-lng-print="Print"
	data-lng-all="All"
	data-export-pdf-disable-mobile="true"
	data-export='["csv", "pdf", "xls"]'
	data-options='["copy", "print"]'

	data-custom-config='{}'>
	<thead>
    <tr>
        <th class="text-nowrap">№ справи</th>
        <th class="text-nowrap">№ ОПІВ</th>
        <th class="text-nowrap">Вид ОПІВ</th>
        <th class="text-nowrap">Назва ОПІВ</th>
        <th class="text-nowrap">Дата подання звернення</th>
        <th class="text-nowrap">Дата рішення</th>
    </tr>
	</thead>
	<tbody>
        {% if results %}
            {% for case in results %}
                <tr>
                    <td class="fw-bold text-nowrap"><a href="{% url 'cases-detail' pk=case.pk %}">{{ case.case_number }}</a></td>
                    <td>{{ case.claim.obj_number }}</td>
                    <td class="text-nowrap">{{ case.claim.obj_kind.title }}</td>
                    <td>{{ case.claim.obj_title }}</td>
                    <td data-sort="{{ case.created_at|date:"U" }}">{{ case.created_at|date:"SHORT_DATE_FORMAT" }}</td>
                    <td data-sort="{% if case.decision_date %}{{ case.decision_date|date:"U" }}{% else %}0{% endif %}">
                        {{ case.decision_date|date:"SHORT_DATE_FORMAT" }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
	</tbody>
	<tfoot>
		<tr>
			<th>№ справи</th>
            <th>№ ОПІВ</th>
            <th>Вид ОПІВ</th>
            <th>Назва ОПІВ</th>
            <th>Дата подання звернення</th>
            <th>Дата рішення</th>
		</tr>
	</tfoot>
</table>