{% load extras %}

<div class="row mb-3">
    <div class="col">
        <h2 class="h5 mb-3 text-indigo-800">Дані об'єкта</h2>

        <div class="text-muted text-uppercase">Об'єкт права інтелектуальної власності</div>
        <div class="fw-medium mb-3">{{ claim.obj_kind.title }}</div>

        {% for item in stages.3.items %}
            <div class="text-muted text-uppercase">{{ item.title }}</div>
            <div class="fw-medium mb-3">
                {{ item.value|linebreaksbr }}
            </div>
        {% endfor %}

        {% for item in stages.4.items %}
            <div class="text-muted text-uppercase">{{ item.title }}</div>
            <div class="fw-medium mb-3">
                {% if 'date' in item.id %}
                    {{ item.value|to_date:"%Y-%m-%d"|date:"SHORT_DATE_FORMAT" }}
                {% else %}
                    {{ item.value|linebreaksbr }}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="col">
        <h2 class="h5 mb-3 text-indigo-800">{{ stages.5.title }}</h2>

        {% for item in stages.5.items %}
            <div class="text-muted text-uppercase">{{ item.title }}</div>
            <div class="fw-medium mb-3">{{ item.value|linebreaksbr }}</div>
        {% endfor %}
    </div>

    {% if stages.6.items %}
        <div class="col">
            <h2 class="h5 mb-3 text-indigo-800">{{ stages.6.title }}</h2>

            {% for item in stages.6.items %}
                <div class="text-muted text-uppercase">{{ item.title }}</div>
                <div class="fw-medium mb-3">{{ item.value|linebreaksbr }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% if stages.7.items or stages.8.items %}
    <div class="row mb-3">
        {% if stages.7.items %}
            <div class="col">
                <h2 class="h5 mb-3 text-indigo-800">{{ stages.7.title }}</h2>

                {% for item in stages.7.items %}
                    <div class="text-muted text-uppercase">{{ item.title }}</div>
                    <div class="fw-medium mb-3">
                        {% if item.type == 'date' %}
                            {{ item.value|to_date:"%Y-%m-%d"|date:"SHORT_DATE_FORMAT" }}
                        {% else %}
                            {{ item.value|linebreaksbr }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if stages.8.items %}
            <div class="col">
                <h2 class="h5 mb-3 text-indigo-800">{{ stages.8.title }}</h2>

                {% for item in stages.8.items %}
                    <div class="text-muted text-uppercase">{{ item.title }}</div>
                    <div class="fw-medium mb-3">
                        {% if item.type == 'date' %}
                            {{ item.value|to_date:"%Y-%m-%d"|date:"SHORT_DATE_FORMAT" }}
                        {% else %}
                            {{ item.value|linebreaksbr }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}