{% extends 'base_cabinet.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Прийняття справи №{{ case.case_number }} до розгляду{% endblock %}

{% block main %}
    {% include 'cases/consider_for_acceptance/_partials/header.html' %}

    <!-- Primary -->
    <div class="section rounded mb-3">
        <div class="alert alert-primary mb-4" role="alert">
            <p>Документи, що будуть сгенеровані:</p>
            <ul class="mb-0">
                {% for doc_type in docs_to_generate %}
                    <li>
                        {{ doc_type.title }}
                        {% if not doc_type.template %}<span class="text-danger">(шаблон документу відсутній)</span>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if templates_missed %}
            <div class="alert alert-danger mb-4" role="alert">
                <strong>Увага!</strong> Подальша робота неможлива, оскільки у системі наявні не усі шаблони документів. Зверніться до адміністратора.
            </div>
        {% endif %}

        {% crispy form %}

        <submit-confirmation message1="Ви впевнені, що бажаєте сгенерувати документи?"
                             message2='Увага! Стадію справи буде змінено на "Документи для прийняття справи до розгляду очікують на підписання." (код стадії - 2004)'
                             btn-text="Згенерувати документи"
                             form-id="case-consider-for-acceptance-form"
                             disabled="{{ templates_missed|yesno:"1,0" }}"
        ></submit-confirmation>

        <p class="mt-5"><a href="{% url 'cases-detail' pk=case.pk %}">
            <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
            </svg>
            Назад на сторінку детальної інформації по справі
        </a></p>
    </div>
    <!-- /Primary -->

{% endblock %}
