<!--

	data-autofill="false|hover|click"
	data-enable-paging="true"			 false = show all, no pagination
	data-items-per-page="10|15|30|50|100"

-->
<table class="table-datatable table table-bordered table-hover table-striped small"
       id="table-claims"
       data-lng-empty="No data available in table"
       data-lng-page-info="Записи від _START_ до _END_ з _TOTAL_ всього"
       data-lng-filtered="(filtered from _MAX_ total entries)"
       data-lng-loading="Loading..."
       data-lng-processing="Processing..."
       data-lng-search="Пошук..."
       data-lng-norecords="Результати відсутні"
       data-lng-sort-ascending=": activate to sort column ascending"
       data-lng-sort-descending=": activate to sort column descending"

       data-main-search="true"
       data-column-search="false"
       data-row-reorder="false"
       data-col-reorder="true"
       data-responsive="true"
       data-header-fixed="true"
       data-select-onclick="false"
       data-enable-paging="true"
       data-enable-col-sorting="true"
       data-autofill="false"
       data-group="false"
       data-items-per-page="15"

       data-enable-column-visibility="true"
       data-lng-column-visibility="Видимість стовбчиків"

       data-enable-export="false"
       data-custom-config='{
            "stateSave": true,
            "order": [[4, "desc"]]
           }'>
    <thead>
    <tr>
        <th class="text-nowrap">№ заявки або ох. документа</th>
        <th class="text-nowrap">Тип об'єкта</th>
        <th class="text-nowrap">Вид звернення</th>
        <th>Статус</th>
        <th>Створено</th>
    </tr>
    </thead>
    <tbody>
    {% for claim in claims %}
        <tr>
            <td><a href="{% url 'claim_detail' pk=claim.pk %}" class="fw-bold">{{ claim.obj_number }}</a></td>
            <td class="text-nowrap">{{ claim.obj_kind.title }}</td>
            <td>{{ claim.claim_kind.title }}</td>
            <td class="fw-bold">
                {% if claim.status == 1 %}
                    <span class="text-danger">{{ claim.get_status_display }}</span>
                {% elif claim.status == 2 %}
                    <span class="text-primary">{{ claim.get_status_display }}</span>
                {% elif claim.status == 3 %}
                    <span class="text-success">{{ claim.get_status_display }}</span>
                {% else %}
                    {{ claim.get_status_display }}
                {% endif %}
            </td>
            <td class="text-nowrap">{{ claim.created_at|date:"SHORT_DATE_FORMAT" }} {{claim.created_at|time:"h:i:s"}}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>№ заявки або ох. документа</th>
        <th>Тип об'єкта</th>
        <th>Вид звернення</th>
        <th>Статус</th>
        <th>Створено</th>
    </tr>
    </tfoot>
</table>