{% extends 'base_cabinet.html' %}

{% block title %}Мої звернення{% endblock %}

{% block main %}
    {% include 'filling/my_claims_list/_partials/header.html' %}

    <!-- Primary -->
    <div class="section rounded mb-3">
        {% if claims.count > 0 %}
            {% include 'filling/my_claims_list/_partials/table.html' %}
        {% else %}
            <p class="mt-2">Звернення відсутні. Ви можете <a href="{% url 'create_claim' %}">створити</a> ваше перше звернення.</p>
        {% endif %}
    </div>
    <!-- /Primary -->

{% endblock %}
