{% extends 'registration/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Password reset confirmation' %}{% endblock %}

{% block content %}
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bold">{% translate 'Password reset confirmation' %}</h1>
        {% if validlink %}
            <p class="lead mb-5">Будь ласка, двічі введіть новий пароль, щоб ми могли перевірити, що ви ввели його правильно.</p>

            <div class="col-md-9 col-lg-6 mx-auto mb-5 text-start">
                {% crispy form %}
            </div>

            <div class="mt-3 text-end">
                <a href="{% url 'login' %}" class="text-decoration-none">
                    Повернутися до вводу пароля
                </a>
            </div>
        {% else %}
            <p class="lead m-0">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
{% endblock %}
