{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% translate 'Password reset' %}{% endblock %}

{% block content %}
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bold">Скидання пароля</h1>

        <p class="lead mt-4">
            Ми надіслали вам інструкції щодо встановлення пароля, якщо для введеної вами електронною пошти існує обліковий запис. Ви маєте отримати їх найближчим часом.
        </p>
        <p class="lead m-0">
            Якщо ви не отримали електронного листа, переконайтеся, що ви ввели вірну адресу, а також перевірте папку зі спамом.
        </p>

        <div class="mt-4 text-end">
            <a href="{% url 'login' %}" class="text-decoration-none">
                Повернутися до вводу пароля
            </a>
        </div>
    </div>
{% endblock %}
