<div class="section rounded mb-3">
    <h4 class="mb-3">Платежі (зараховані)</h4>

    {% if case.payment_set.count > 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата оплати</th>
            <th scope="col">Сума платежу</th>
            <th scope="col">Призначення</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in case.payment_set.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ payment.payment_date }}</td>
                <td>{{ payment.value }} UAH</td>
                <td>{{ payment.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Платежі відсутні.</p>
    {% endif %}
</div>