{% load static %}

<!doctype html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Апеляційні справи</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1">

    <!-- up to 10% speed up for external res -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <!-- preloading icon font is helping to speed up a little bit -->
    <link rel="preload" href="{% static 'fonts/flaticon/Flaticon.woff2' %}" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="{% static 'css/core.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor_bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo/logo_sm.png' %}">
</head>


  <!--

    Layout Admin
      .layout-admin   (required)

      .aside-sticky           - sidebar : fixed and push header
      .header-sticky          - header : always visible on top (acting as old .header-focus)

    ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++

    SCROLL TO TOP BUTTON [optional styling]

      data-s2t-disable="true"
      data-s2t-position="start|end"
      data-s2t-class="btn-secondary btn-sm"   (default)
      data-s2t-class="btn-secondary rounded-circle"
      data-s2t-class="btn-warning rounded-circle"

    ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++

  -->
  <body class="layout-admin aside-sticky bg-lime header-sticky"
        data-s2t-class="btn-primary btn-sm bg-gradient-default rounded-circle border-0">

    {% block body %}{% endblock %}

    {% if messages %}
        {% for message in messages %}
            <div class="hide toast-on-load"
                 data-toast-type="{{ message.tags }}-soft"
                 data-toast-title=""
                 data-toast-body="{{ message }}"
                 data-toast-pos="top-end"
                 data-toast-delay="0"
                 data-toast-fill="true"></div>
        {% endfor %}
    {% endif %}

    <!-- Core javascripts -->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/vendor_bundle.js' %}"></script>

    <!-- Your custom javascripts -->
    <script src="{% static 'js/custom.js' %}"></script>

  </body>
</html>